html,
body {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #4a556c;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1;
}

@font-face {
  font-family: "OpenSans-Regular", sans-serif;
  src: url("../fonts/OpenSans-Regular.eot") format("eot"),
    url("../fonts/OpenSans-Regular.otf") format("otf"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LexendZetta-Regular", sans-serif;
  src: url("../fonts/LexendZetta-Regular.eot") format("eot"),
    url("../fonts/LexendZetta-Regular.otf") format("otf"),
    url("../fonts/LexendZetta-Regular.woff2") format("woff2"),
    url("../fonts/LexendZetta-Regular.woff") format("woff"),
    url("../fonts/LexendZetta-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-md {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.badge {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #333333;
  opacity: .5;
  margin-bottom: 30px;
}

.section-title {
  font-family: "LexendZetta-Regular", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

.section-subtitle {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 46px;
    line-height: 54px;
  }
}

/* Slick slider start */

.slick-track {
  align-items: flex-start !important;
}

.slick-list {
  padding-top: 21px !important;
}

.slick-dots {
  bottom: -100px !important;
}

.slick-dots li {
  width: 16px !important;
  height: 16px !important;
  margin: 0 8px !important;

  border: 1px solid #F07C5280 !important;
  border-radius: 50% !important;
}

.slick-dots li.slick-active {
  background-color: #F07C52 !important;
  border-color: #F07C52 !important;
}

.slick-dots li button {
  font-size: 0 !important;
  line-height: 0 !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0px !important;
  cursor: pointer !important;
  color: transparent !important;
  border: 0 !important;
  outline: none !important;
  background: transparent !important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 0px !important;
  line-height: 0px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 16px !important;
  height: 16px !important;
  content: '•' !important;
  text-align: center !important;
  opacity: .25 !important;
  color: unset !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/* Slick slider end */