.button_border {
  max-width: 170px;
  height: 48px;
  padding: 13px 35px;
  border: 1px solid #F07C5280;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "LexendZetta-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F07C52;
  text-transform: uppercase;

  transition: all 250ms ease-in;

  margin: 0 auto;
}

.button_border:hover {
  background-color: #F07C52;
  color: #fff;
}